* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #f5f9fe;
  box-shadow: 0 2px 4px #e2ebfc;
}
header .container {
  width: 70%;
  margin: 0 auto;
}
header .container nav a {
  margin-right: 30px;
  color: #1d365e;
  transition: 0.2s;
  position: relative;
}
header .container nav a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  background: #2a73dd;
  transition: 0.2s;
}
header .container nav a:hover::before, header .container nav a.active::before {
  width: 100%;
}
header .container nav a:hover, header .container nav a.active {
  color: #2a73dd;
}

#banner {
  background-image: url("../image/product-header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 225px 0px;
}
#banner .container {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  #banner .container .banner__title h2 {
    font-size: 50px;
    font-weight: bold;
    color: #2a73dd;
  }
}
@media (min-width: 992px) {
  #banner .container .banner__title h2 {
    font-size: 70px;
    font-weight: bold;
    color: #2a73dd;
  }
}
@media (max-width: 768px) {
  #banner .container .banner__title img {
    display: none;
  }
}
#banner .container .banner__title .title__button .button__info {
  border: 2px solid;
  padding: 12px 35px;
  border-radius: 8px;
  font-size: 16px;
  border-color: #2a73dd;
  background-color: #fff;
  transition: all 0.5s;
}
#banner .container .banner__title .title__button .button__info:hover {
  background-color: #2a73dd;
  color: #fff;
}
#banner .container .banner__title .title__button .button__shop {
  border: 2px solid;
  padding: 12px 35px;
  border-radius: 8px;
  font-size: 16px;
  background-image: linear-gradient(120deg, #60a4f4, #2a73dd);
  transition: all 0.5s;
}
#banner .container .banner__title .title__button .button__shop:hover {
  opacity: 0.75;
}

#product {
  padding: 100px 0px;
}
#product .container {
  width: 70%;
  margin: 0 auto;
}
#product .container .product__list .product__item {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
  background: #f5f9fe;
}
#product .container .product__list .product__item img {
  width: 100%;
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
}
#product .container .product__list .product__item .desc__title h3 {
  color: #1d365e;
  font-size: 20px;
  font-weight: 500;
}
#product .container .product__list .product__item .desc__price p {
  color: #1d365e;
  font-size: 20px;
  font-weight: 500;
}
#product .container .product__list .product__item .desc__price button {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 8px;
  font-size: 11px;
  padding: 10px 20px;
  transition: 0.2s;
}
#product .container .product__list .product__item .desc__price button:hover {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

#footer {
  background-color: #2a73dd;
  padding-bottom: 60px;
}
#footer img {
  margin-bottom: 60px;
}
#footer .container {
  width: 70%;
  margin: 0 auto;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .container .footer__link ul {
  display: flex;
}
#footer .container .footer__link ul li {
  margin-right: 20px;
  cursor: pointer;
  color: #fff;
  transition: 0.2s;
}
#footer .container .footer__link ul li:hover {
  color: rgba(255, 255, 255, 0.5);
}/*# sourceMappingURL=main.css.map */