// Đặt biến bằng cách thêm dấu $ phía đầu 
$color-blue-1 : #2a73dd ; 
$color-blue-2 : #1d365e ; 
$color-white-1 : #f5f9fe ;
$color-white-2 : #e2ebfc ;
$color-white-3 : #fff;

// mixin ~ function 

@mixin ButtonTheme() {
    border: 2px solid;
    padding: 12px 35px;
    border-radius: 8px;
    font-size: 16px;
}

@mixin ShadowTheme($base) {
    box-shadow: $base * 1px $base * 1px $base * 2px $color-white-2 ,
    $base * -1px $base * -1px $base * 2px $color-white-3 ;  
    border-radius: 8px;
}

@mixin ContainerTheme() {
    width: 70%;
    margin: 0 auto;
}

// BODY 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

// HEADER 
header {
    background-color: $color-white-1;
    box-shadow: 0 2px 4px $color-white-2 ;
    .container {
        @include ContainerTheme() ;   
        // NAV trong container 
        nav {
            a {
                margin-right: 30px;
                color: $color-blue-2;
                transition: .2s;
                position: relative;
                &::before  {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 2px;
                    bottom: -3px;
                    left: 50%;
                    transform: translateX(-50%);
                    background: $color-blue-1;
                    transition: .2s;
                }
                &:hover::before , &.active::before{
                    width: 100%;
                }
                &:hover , &.active  {
                    color: $color-blue-1;
                }
            }
        }
    }// KHỐI CONTAINER BÊN TRONG HEADER 
}



// BANNER 

#banner {
    background-image: url("../image/product-header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 225px 0px;
    .container {
        @include ContainerTheme() ;  
        .banner__title {
            @media (max-width: 992px) {
                h2 {
                    font-size: 50px;
                    font-weight: bold;
                    color: $color-blue-1;
                }
            }
            @media (min-width: 992px) {
                h2 {
                    font-size: 70px;
                    font-weight: bold;
                    color: $color-blue-1;
                }
            }
            @media (max-width: 768px) {
                img {
                    display: none ; 
                }
            }
            .title__button {
                .button__info {
                    @include ButtonTheme() ; 
                    border-color: $color-blue-1;
                    background-color: $color-white-3 ; 
                    transition: all .5s ;    
                }
                .button__info:hover {
                    background-color: $color-blue-1;
                    color: $color-white-3;
                }    
                .button__shop {
                    @include ButtonTheme() ;
                    background-image: linear-gradient(120deg, #60a4f4, $color-blue-1);
                    transition: all .5s;
                }
                .button__shop:hover {
                    opacity: .75;
                }
                
            }
        }
    }
}

// PRODUCT 

#product {
    padding: 100px 0px;
    .container {
        @include ContainerTheme() ;  
        .product__list {
            .product__item {
                @include ShadowTheme((6)) ; 
                background: $color-white-1;
                img {
                    width: 100%;
                    @include ShadowTheme((6)) ;
                }
                .desc__title {
                    h3 {
                        color: $color-blue-2;
                        font-size: 20px;
                        font-weight: 500;
                    }
                }
                .desc__price {
                    p {
                        color: $color-blue-2;
                        font-size: 20px;
                        font-weight: 500;
                    }
                    button {
                        @include ShadowTheme((6)) ; 
                        font-size: 11px;
                        padding: 10px 20px;
                        transition: .2s;
                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
                        }
                    }
                }
            }
        }
    }
}

// FOOTER

#footer {
    background-color: $color-blue-1;
    padding-bottom: 60px;
    img {
        margin-bottom: 60px;
    }
    .container {
        @include ContainerTheme() ;  
        padding: 0 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .footer__link {
            ul {
                display: flex;
                li {
                    margin-right: 20px;
                    cursor: pointer;
                    color: $color-white-3 ; 
                    transition: .2s;
                    &:hover {
                        color :rgb(255, 255, 255 , .5) ; 
                    }
                }
            }
        }        
    }
}

